<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <div class="set1">
          <a href="https://docs.stg.karhoo.net/v1/onboarding" class="menu">OnBoarding</a>
          <a href="https://docs.stg.karhoo.net/v1/supply" class="menu">Supply</a>
          <a href="https://docs.stg.karhoo.net/v1/directory" class="menu">Directory</a>
          <a href="/404.html" class="menu">Organisations</a>
          <a href="https://docs.stg.karhoo.net/v1/bookings" class="menu">Bookings</a>
        </div>
        <br/>
        <div class="set2">
          <a href="/404.html" class="menu">Locations</a>
          <a href="https://docs.stg.karhoo.net/v1/operations" class="menu">Operations</a>
          <a href="https://docs.stg.karhoo.net/v1/fares" class="menu">Fares</a>
          <a href="https://docs.stg.karhoo.net/v2/payments" class="menu">Payments</a>
          <a href="https://docs.stg.karhoo.net/v2/finance" class="menu">Finance</a>
        </div>
        <br/>
        <div class="set3">
          <a href="https://docs.stg.karhoo.net/v1/translations" class="menu">Translations</a>
          <a href="https://docs.stg.karhoo.net/v1/mobilesdk/ui" class="menu">UI SDK</a>
          <a href="https://docs.stg.karhoo.net/v1/mobilesdk/network" class="menu">Network SDK</a>
        </div>
      </div>
    </main>

  </body>

</html>
